/* --+
    RESET CSS
+-- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style :none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ul li {
    list-style :none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    vertical-align: middle;
    border: none;
}

/* --+
    FONCTIONS SASS
+-- */

@mixin init-subclass ($content) {
    content: $content;
    display: block;
}

@mixin flex ($flex-direction, $align-items, $justify-content) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin box-in ($width, $height, $padding) {
    width: $width;
    height: $height;
    padding: $padding;
}

@mixin box-out ($border, $margin) {
    border: $border;
    margin: $margin;
}

@mixin grid ($row, $column) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    grid-template-rows: repeat($row, 1fr);
    gap: 0px;
    justify-items: center;
    align-items: center;
}

@mixin placement ($position, $top, $left, $right, $bottom) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin image ($link) {
    display: block;
    background-image: url($link);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

@mixin orientation ($orientation) {
    display: flex;
    flex-direction: $orientation;

    @if ($orientation == row) {
        align-items: center;
    }
    @else {
        justify-content: center;
    }
}

/* --+
    IMPORTS
+-- */

@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

/* --+
    VARIABLES
+-- */

:root {
    --black-opacity-50: rgba(0, 0, 0, 0.5);
    --darkblue: rgb(41, 67, 92);

    --transition-time-start: 100ms;
    --transition-time-end: 150ms;

    --font-family-gilroy-regular: 'Gilroy-Regular';
    --font-family-gilroy-bold: 'Gilroy-Bold';
    --font-family-gilroy-heavy: 'Gilroy-Heavy';

    --font-style-gilroy: sans-serif;
}

/* --+
    BODY
+-- */

body {
    @include box-in (100vw, 100vh, 0);
    overflow-x: hidden;
}

/* --+
    HEADER
+-- */

@media screen and (max-width: 700px) {
    header {
        padding: 50px 0px !important;
    }

    .choice-list > form label {
        font-size: 0.85rem;
    }
}

header {
    box-shadow: 0px -5px 10px -5px var(--darkblue) inset;

    nav {
        transform: translateY(-4px);
    }
}

header, header nav {
    @include flex (column, center, space-around);
    @include box-in (100%, 200px, 15px 0px);
}

header ul, header ol, .choice-list > form {
    @include flex (row, center, space-around);
    @include box-in (100%, auto, 10px 5px);
}

header ol {
    max-width: 90%;
}

.choice-list li {
    transition: transform var(--transition-time-end) ease-in-out;
}

.choice-list li:hover {
    transform: translateY(-1.5px);
    transition: transform var(--transition-time-start) ease-in-out;
}

.choice-list label:hover {
    color: var(--darkblue);
    cursor: pointer;
}

.choice-list ul {
    @include box-out (1px var(--darkblue) solid, 0px 5px);
    background: linear-gradient(white, 98%, transparent);
    text-align: center;
    box-shadow: 0px 0px 1px var(--black-opacity-50);
    line-height: 25px;
    transition: background-color var(--transition-time-end) ease-in-out, box-shadow var(--transition-time-end) ease-in-out;
}

.choice-list ul:hover {
    background-color: var(--darkblue);
    box-shadow: 0px 0px 3px var(--black-opacity-50);
    transition: background-color var(--transition-time-start) ease-in-out, box-shadow var(--transition-time-start) ease-in-out;
}

/* --+
    MAIN
+-- */

main, .devises-container {
    @include box-in (calc(100% - (50px*2)), auto, 0px 50px);
}

.desc {
    text-align: center;
    transform: translateY(-15px);
}

.devises-container table, .devises-container tbody {
    @include box-in (100%, auto, 0px);
}

.devises-container th {
    @include box-in (50%, auto, 15px 0px);
    @include box-out (.5px var(--darkblue) solid, 0px);
    @extend li;
    color: white;
    background-color: var(--darkblue);
    box-shadow: 0px -2px 4px -2px var(--black-opacity-50) inset;
}

.devises-container td {
    @include box-in (50%, auto, 10px 0px);
    @include box-out (.5px black solid, 0px);
    @extend p;
    text-align: center;
}

/* --+
    DEFAULT SETTINGS
+-- */

section > h1:first-of-type {
    @include box-in (100%, auto, 0px);
    @include box-out (unset, 30px 0px);
    text-align: center;
}

h1, p, span, li, label {
    font-style: var(--font-style-gilroy);
}

h1 {
    font-family: var(--font-family-gilroy-heavy);
    font-size: 1.75rem;
}

li {
    font-family: var(--font-family-gilroy-bold);
    font-size: 1.25rem;
}

p, label {
    font-family: var(--font-family-gilroy-regular);
    font-size: 0.95rem;
}

input[type=radio] {
    display: none;
}